<ng-container *ngIf="data$ | async as response">
  <!-- <pre>{{ response.products | json }}</pre> -->
  <div class="container d-flex justify-content-center">
    <div class="row d-flex w-100 justify-content-start mt-4">
      <ng-container *ngFor="let product of response.products?.data">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card shadow rounded-5 border-0 me-2">
            <div class="image-container rounded-top-5 border-0">
              <a [routerLink]="['/loja', product.id]">
                <img src="{{ product.picture }}" class="rounded float-start" />
              </a>
            </div>
            <div class="card-body pt-0 px-0">
              <span class="text-muted ms-1 fs-5">{{ product.name }}</span>
              <div class="d-flex flex-row justify-content-between mb-0">
                <span class="text-muted ms-2 mt-2">Valor</span>
                <h2 class="mt-3 me-2 text-muted">{{ product.price | currency : 'BRL' }}</h2>
              </div>
              <hr class="mx-3 mt-0" />
              <div class="d-flex flex-row justify-content-between p-3 bg-light">
                <div class="d-flex flex-column">
                  <small class="text-muted mb-1">CATEGORIA</small>
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column ms-1">
                      <small>{{ product.type }}</small>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <small class="text-muted mb-2 mx-auto">MARCA</small>
                  <div class="d-flex flex-row">
                    <h6>{{ product.brand }}</h6>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between mt-2">
                <span class="text-muted ms-2">Quantidade:</span>
                <h4
                  class="me-2"
                  [ngClass]="{
                    'text-danger': product.quantity < 100,
                    'text-success': product.quantity > 200,
                    'text-warning': product.quantity >= 100 && product.quantity <= 200
                  }"
                >
                  <i
                    class="fa me-2"
                    [ngClass]="{
                      'fa-circle-exclamation': product.quantity < 100,
                      'fa-circle-check': product.quantity > 200,
                      'fa-circle-info': product.quantity >= 100 && product.quantity <= 200
                    }"
                  ></i>
                  {{ product.quantity }} unidades
                </h4>
              </div>

              <div class="d-flex flex-row justify-content-center mx-3 pt-0 mb-0">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-success w-100"
                  (click)="cartService.addItem(product, 1, product.quantity)"
                >
                  <small>ADICIONAR</small><i class="fa fa-cart-shopping ms-2"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!response.isLoading">
        <ng-container *ngIf="response.products?.data == null && search === ''">
          <div class="d-flex justify-content-center" style="height: calc(100vh - 300px)">
            <div class="text-center text-muted mt-6">
              Não foi possível carregar os produtos da base de dados.<br />
              <a routerLink="/loja" (click)="reload()"><i class="fa-solid fa-backward ms-0"></i></a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="response.products == null && search !== ''">
          <div class="d-flex justify-content-center" style="height: calc(100vh - 300px)">
            <div class="text-center text-muted mt-6">
              Nenhum produto foi encontrado com o termo de busca <b>"{{ search }}"</b><br />
              <a routerLink="/loja" (click)="reload()"><i class="fa-solid fa-backward ms-0"></i></a>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="response.isSubmitting">
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: calc(100vh - 300px)"
        >
          <div class="spinner-border text-warning" style="width: 4rem; height: 4rem" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
