// Fonts - Baloo 2 / Lato
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --main-primary: #ffa500;
  --main-secondary: #6c757d;
  --main-dark: #343a40;
  --main-light: #f8f9fa;
}

/* Bootstrap */

// Fonts
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'Baloo 2', sans-serif;

// Colors:
$primary: #ffa500; // Laranja vibrante para o logo e elementos de destaque
$secondary: #6c757d; // Cinza escuro para elementos secundários
$dark: #343a40; // Cinza quase preto para o texto principal
$light: #f8f9fa; // Cinza muito claro para fundos suaves
$body-color: #343a40; // Cor do texto do corpo
$headings-color: #212529; // Cinza escuro um pouco mais intenso para títulos

// Navbar
$navbar-nav-link-padding-x: 0.8rem;
$navbar-padding-y: 1rem;
$nav-link-font-weight: 700;

// Spacers
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 8,
  8: $spacer * 12,
) !default;

// Heading
$headings-margin-bottom: $spacer * 1 !default;
$line-height-base: 1.7;
$headings-font-weight: bold;

// Buttons
// custom sizes
$button-radius: 50px;
$button-padding-x: 30px;
$button-padding-y: 10px;

// bootstrap different sizes variables
$btn-border-radius: $button-radius;
$btn-border-radius-sm: $button-radius;
$btn-border-radius-lg: $button-radius;
$btn-padding-x: $button-padding-x;
$btn-padding-x-sm: $button-padding-x;
$btn-padding-x-lg: $button-padding-x;
$btn-padding-y: $button-padding-y;
$btn-padding-y-sm: $button-padding-y;
$btn-padding-y-lg: $button-padding-y;
$navbar-toggler-border-radius: 5px;

// Inputs (rounded)
$input-radius: 15px;
$input-btn-padding-y: 0.7rem;
$input-btn-padding-x: 1rem;
$input-border-radius: $input-radius;
$input-border-radius-sm: $input-radius;
$input-border-radius-lg: $input-radius;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding-top: 100px;
  color: #343a40;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body.dark-theme {
  background-color: #222;
  color: #fff;
}

// Navbar
body.dark-theme .navbar {
  background-color: #333 !important;
  color: #fff;
}

body.dark-theme .nav-link {
  color: white !important;
  transition: color 0.3s ease-in-out;
}

body.dark-theme .nav-link:hover {
  color: #ffa500 !important;
}

// Navbar Icon
body.dark-theme .navbar .fa-stack {
  color: #dc3545;
}

body.dark-theme .navbar-toggler {
  background-color: #ffffff !important;
}

// Quote
body.dark-theme .big-quote {
  color: #fff !important;
}

// h2
body.dark-theme h2 {
  color: #fff;
}

// Text-black
body.dark-theme strong {
  color: #fff;
}

body.dark-theme strong {
  color: #fff !important;
}

// Cards
body.dark-theme .card {
  background-color: #444 !important;
  color: #fff !important;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}

body.dark-theme .card .text-muted {
  color: #fff !important;
}

// Card Body
body.dark-theme .card-body {
  background-color: #0f0f0f !important;
}

body.dark-theme .card-body .details {
  background-color: #86898b !important;
  color: #fff !important;
}

// Summary
body.dark-theme .summary {
  background-color: #86898b;
  color: #ffa500 !important;
}

// Pagination
body.dark-theme ngb-pagination .page-link {
  background-color: #0f0f0f !important;
}

// Table
body.dark-theme tbody {
  background-color: #0f0f0f !important;
}

// Cart-Item
body.dark-theme .cart-item {
  background-color: #000000 !important;
}

body.dark-theme .cart-item .details {
  background-color: #000000 !important;
}

// Profile
body.dark-theme .profile .card {
  background-color: #000000 !important;
}

// Checkout Success
body.dark-theme app-checkout-success .bg-light {
  background-color: #0f0f0f !important;
}
