<section class="mx-auto">
  <div class="container">
    <div class="row">
      <div class="title">
        <h4>Resumo do pedido</h4>
        <hr />
      </div>
      <div class="description">
        <dl class="d-flex align-items-center justify-content-between">
          <dt>Subtotal</dt>
          <dd>{{ cartService.totals()?.subtotal | currency : 'BRL' }}</dd>
        </dl>
        <dl class="d-flex align-items-center justify-content-between">
          <dt>Frete</dt>
          <dd>{{ cartService.shippingCost | currency : 'BRL' }}</dd>
        </dl>
        <dl class="d-flex align-items-center justify-content-between">
          <dt>Prazo de entrega</dt>
          <dd>{{ cartService.deliveryTime }} dias</dd>
        </dl>
        <div class="form-check mt-3">
          <input
            class="form-check-input"
            type="radio"
            name="deliveryMethod"
            id="pacOption"
            value="1"
            (change)="onDeliveryMethodChange($event)"
            checked
          />
          <label class="form-check-label mb-2" for="pacOption"
            ><img
              src="images/pac-correios-logo.png"
              alt="PAC Correios Logo"
              style="max-width: 100px"
            />
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="deliveryMethod"
            id="sedexOption"
            (change)="onDeliveryMethodChange($event)"
            value="2"
          />
          <label class="form-check-label mb-4" for="sedexOption"
            ><img src="/images/sedex.png" alt="SEDEX Correios" style="max-width: 100px" />
          </label>
        </div>
        <div class="input-group mb-4">
          <button
            class="input-group-text bg-info"
            (click)="calculateDelivery(postalCodeInput.value, selectedDeliveryMethod)"
          >
            Calcular Frete
          </button>
          <input
            #postalCodeInput
            type="text"
            maxlength="8"
            class="form-control shadow-none"
            placeholder="Digite o CEP..."
            aria-label="Example text with button addon"
            aria-describedby="button-addon1"
            (input)="onInput($event)"
          />
        </div>
        <dl class="d-flex align-items-center justify-content-between">
          <dt>Desconto</dt>
          <dd>{{ cartService.totals()?.discount }}</dd>
        </dl>
        <div class="input-group mb-4">
          <button class="input-group-text">Aplicar Cupom</button>
          <input
            type="text"
            class="form-control shadow-none"
            placeholder="Código..."
            aria-label="discount cupom"
            aria-describedby="button-discount"
          />
        </div>
        <hr />
        <dl class="d-flex align-items-center justify-content-between">
          <dt>Total</dt>
          <dd>{{ cartService.totals()?.total | currency : 'BRL' }}</dd>
        </dl>
      </div>
      <div class="checkout text-center">
        <button class="btn btn-outline-success w-100" (click)="summaryValidator()">
          Finalizar Pedido
        </button>
      </div>
    </div>
  </div>
</section>
