<ng-container *ngIf="data$ | async as data">
  <section>
    <nav class="navbar navbar-expand-lg fixed-top position-relative z-3 navbar-light bg-white">
      <div class="container d-flex flex-nowrap">
        <div class="menu-logo d-flex">
          <a href="/" class="navbar-brand">
            <img src="images/geek-store-logo.png" alt="Logo Geek Store" />
          </a>
          <a href="/" style="text-decoration: none" class="underline-none"
            ><h2 class="text-primary mt-3">GeekStore</h2></a
          >

          <div class="navbar-collapse collapse d-none d-lg-block">
            <ul class="navbar-nav ms-5" style="margin-top: -3px">
              <li class="nav-item me-3">
                <a
                  routerLink="/"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="nav-link bar-hover"
                  >Início</a
                >
              </li>
              <li class="nav-item me-3">
                <a
                  routerLink="/loja"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="nav-link bar-hover"
                  >Loja</a
                >
              </li>
              <li class="nav-item me-3">
                <a
                  routerLink="/sobre"
                  fragment="summary"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="nav-link bar-hover"
                  >Sobre</a
                >
              </li>
              <li *ngIf="data.isAdmin" class="nav-item me-3">
                <a
                  routerLink="/admin"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="nav-link bar-hover"
                  >Painel de Controle</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="dark-theme ms-auto">
          <input
            [checked]="themeService.isDarkMode"
            (change)="themeService.toggleTheme()"
            type="checkbox"
            class="checkbox"
            id="checkbox"
          />
          <label for="checkbox" class="checkbox-label">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <span class="ball"></span>
          </label>
        </div>
        <div
          class="d-none d-sm-block shopping-cart position-relative px-3"
          placement="bottom"
          ngbTooltip="Carrinho"
        >
          <span class="fa-stack">
            <a routerLink="/carrinho">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-cart-shopping fa-stack-1x text-white"></i>
            </a>
          </span>
          <span
            class="badge position-absolute top-0 start-25 translate-middle rounded-pill bg-danger"
            style="font-size: 0.75rem"
            *ngIf="cartService.itemCount() > 0"
          >
            {{ cartService.itemCount() }}
          </span>
        </div>
        <ng-container *ngIf="data.user">
          <div class="account-user" placement="bottom" ngbTooltip="Perfil">
            <span class="fa-stack">
              <a [routerLink]="['/perfil']">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-regular fa-user fa-stack-1x text-white"></i>
              </a>
            </span>
          </div>
          <div class="d-none d-sm-block account-logout" placement="bottom" ngbTooltip="Sair">
            <span class="fa-stack">
              <a (click)="logout()">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-regular fa-sign-out fa-stack-1x text-white"></i>
              </a>
            </span>
          </div>
        </ng-container>

        <ng-container *ngIf="!data.user">
          <Button routerLink="/entrar" class="btn btn-sm btn-outline-primary d-none d-sm-block">
            Entrar
          </Button>
          <div class="account-user d-sm-none" placement="bottom" ngbTooltip="Entrar">
            <span class="fa-stack">
              <a routerLink="/entrar">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-regular fa-user fa-stack-1x text-white"></i>
              </a>
            </span>
          </div>
        </ng-container>

        <button
          class="navbar-toggler ms-2"
          type="button"
          (click)="toggleNavbar()"
          aria-controls="navbarNavDropdown"
          [attr.aria-expanded]="!isCollapsed"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div
      [ngClass]="{'slide-menu': true, show: isCollapsed}"
      class="bg-primary text-center text-light d-lg-none z-0"
    >
      <ul class="navbar-nav ms-auto mt-1">
        <li class="nav-item">
          <a routerLink="/" class="nav-link second-nav">Início</a>
        </li>
        <li class="nav-item">
          <a routerLink="/loja" class="nav-link second-nav">Loja</a>
        </li>
        <li class="nav-item">
          <a routerLink="/sobre" fragment="summary" class="nav-link second-nav">Sobre</a>
        </li>
        <li class="nav-item">
          <a routerLink="/carrinho" class="nav-link second-nav">Carrinho</a>
        </li>
      </ul>
    </div>
  </section>
</ng-container>
