.banner-container {
  position: relative;
  background-image: url('../../../../public/images/geek_store_banner_fundo_teste.png');
  background-size: 100% 100%;
  background-position: center;
  height: 500px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.banner-content {
  position: relative;
  z-index: 1;
  color: white;
}

.banner-content .container {
  height: 100%;
}

.logo {
  font-size: clamp(4rem, 8vw, 8rem);
  font-weight: bold;
  font-family: 'Baloo 2', sans-serif;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.welcome {
  font-size: clamp(1rem, 2vw, 1rem);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#typing-effect {
  font-family: 'Baloo 2', sans-serif;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

.card {
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
  height: 480px;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita o número de linhas */
  -webkit-box-orient: vertical;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

ngb-carousel {
  width: 100%;
  height: 100%;
  margin: auto;
}

ngb-carousel {
  .carousel-control-prev,
  .carousel-control-next {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: red !important; /* Cor das setas */
      border-radius: 50%; /* Deixa as setas redondas */
      padding: 10px; /* Aumenta o tamanho do ícone */
      filter: none; /* Remove filtros anteriores */
    }
  }
}

.disclaimer .row {
  height: 200px;
}

.summary {
  background-color: lighten(#ffa500, 25%);
}

.quote-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Georgia', sans-serif;
}

.big-quote {
  font-size: 1.5rem;
  line-height: 1.6;
  position: relative;
  quotes: '“' '”';
}

.big-quote::before {
  content: open-quote;
  font-size: 4rem;
  color: var(--bs-primary);
  position: absolute;
  top: -1.5rem;
  left: -2rem;
}

.big-quote::after {
  content: close-quote;
  font-size: 4rem;
  color: var(--bs-primary);
  position: absolute;
  bottom: -3rem;
  right: -2rem;
}

.author {
  font-size: 1.2rem;
  font-style: italic;
  color: #666;
  margin-top: 1rem;
}
